.navbar a.nav-link {
    transition: all 1s;
    margin: 0 10px;
}
.navbar a.nav-link:hover {
    background-color: rgb(75, 236, 75);
    color: rgb(34, 19, 236);
    transform: scale(1.2);
}
.about {
    background-color: rgb(252, 245, 155);
}
.contact{
    background-color: rgb(252, 183, 252);
}